<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Ionic App</title>

    <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
    <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
  </head>

  <body ng-app="ionicApp">

    <ion-nav-bar class="bar-light">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-view></ion-nav-view>


    <script id="templates/intro.html" type="text/ng-template"> </script>
      <ion-view view-title="Intro">
        <ion-nav-buttons side="left">
          <button class="button button-positive button-clear no-animation"
                  ng-click="startApp()" ng-show="!slideIndex">
            Skip Intro
          </button>
          <button class="button button-positive button-clear no-animation"
                  ng-click="previous()" ng-show="slideIndex > 0">
            Previous Slide
          </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right"> 
          <button class="button button-positive button-clear no-animation"
                  ng-click="next()" ng-show="slideIndex != 2">
            Next
          </button>
          <button class="button button-positive button-clear no-animation"
                  ng-click="startApp()" ng-show="slideIndex == 2">
            Start using MyApp
          </button>
        </ion-nav-buttons>
        <ion-slide-box on-slide-changed="slideChanged(index)">
          <ion-slide>
            <ion-view view-title="Testing" hide-nav-bar="true">


<style>
  h4{
    font-family: Consolas;
  }
</style>


  <ion-content class="rubyonic-pane login-screen">

    <!-- Logo Section - center aligned by default -->
    <div class="logo" style="margin-top:10%;">
    <h2 style="color:#fff;" align="center">Welcome To</h4>
      <img src="../../img/nomadica.png" alt="">
  </div>
          </ion-slide>
          <ion-slide>
            <ion-view view-title="Testing" hide-nav-bar="true">
  <ion-content class="rubyonic-pane login-screen">

    <!-- Logo Section - center aligned by default -->
    <div class="logo">
     <img src="../../img/cloud.png" alt="" height="150px" width="0px" style="margin-bottom:10%">
     <h4 style="color:#fff;" align="center">Get weather forecast at both present and your destination, plan routes for journeys and get real time maps</h4>
     </div>
          </ion-slide>
          <ion-slide>
              <ion-view view-title="Testing" hide-nav-bar="true">
  <ion-content class="rubyonic-pane login-screen">

    <!-- Logo Section - center aligned by default -->
    <div class="logo">
    <img src="../../img/ambulance.png" alt="" height="150px" width="0px" style="margin-bottom:10%">
    <h4 style="color:#fff;">Report Emergency issues and get nearest source of emergecy service help no matter where you are and receive live feeds from destination and current locality</h4>
  </div>
          </ion-slide>
          <ion-slide>
          <ion-view view-title="Testing" hide-nav-bar="true">
  <ion-content class="rubyonic-pane login-screen">
             <div class="logo" style="margin-top:10%;">
          <img src="../../img/nomadica.png" alt="">
          <h3 align="center" style="color:#fff;">Ready?</h3>
        <button ui-sref="app.setup" class="button button-transparent-medium button-block" style="width:90%; margin-left:5%">Let's Go</button>
  </div>
  </ion-slide>
        </ion-slide-box>
      </ion-view>
    </script>

    <script id="templates/main.html" type="text/ng-template">
      <ion-view hide-back-button="true" view-title="Awesome">
        <ion-content class="padding">
          <h1>Main app here</h1>
          <button class="button" ng-click="toIntro()">Do Tutorial Again</button>
        </ion-content>
      </ion-view>
    </script>
    
  </body>
</html>