<!-- Profile Screen - Refer to profile.scss -->
<ion-view view-title="Main" hide-nav-bar="true" class="rubyonic-pane profile-screen">
  <!-- 
  setting 'hide-nav-bar="true"' above enables us to create our own header bar
  by hiding the default one without messing with ionic's state/history management
  -->

<ion-header-bar align-title="center" class="bar profile-bar" ng-controller="NavigationCtrl">
  <div class="buttons">
    <button class="button button-clear icon ion-android-menu" menu-toggle="left">
      </button>
  </div>
  <h1 class="title">
    Replug eMobile
  </h1>

</ion-header-bar>

  <ion-content>
    
      <div class="profile-background">
        <div class="profile-overlay"></div>
        <!-- <img class="profile-wallpaper" src="img/map-dummy.jpg" alt="">
        <img class="profile-wallpaper" src="img/demo/map.jpg" alt=""> -->
        <div ng-controller="MapController">
          <div id="map" data-tap-disabled="true"></div>
        </div>


        <div class="profile-details padding">
          <div class="profile-actions">
            <a href="#" class="button button-clear">
              <i class="icon ion-ios-close brand-base-text-color"></i>
            </a>
          </div>
          <div class="row responsive-sm">
            <div class="col">
              <h2 class="brand-base-text-color profile-name-title">Weather stuff</h2>
              <h5 class="brand-base-text-color">here we go on the recent update</h5>
               <!--  <div class="profile-stats secondary-font"><i class="ion-android-favorite-outline"></i> 34 recommendations</div>
                <div class="profile-stats secondary-font brand-base-text-color"><i class="ion-email"></i> email@email.com</div>
                <div class="profile-stats secondary-font brand-base-text-color"><i class="ion-android-call"></i> +180385-3003</div>
                <div class="profile-stats secondary-font brand-base-text-color"><i class="ion-navigate"></i> London, England</div> -->
            </div>
            <!-- <div class="col col-33 profile-details-extra">
              <div class="padding">
                <div class="profile-stats secondary-font"><i class="ion-android-favorite-outline"></i> 34 recommendations</div>
                <h5 class="brand-base-text-color"><i class="ion-email"></i> email@email.com</h5>
                <h5 class="brand-base-text-color"><i class="ion-android-call"></i> +180385-3003</h5>
                <h5 class="brand-base-text-color"><i class="ion-navigate"></i> London, England</h5>
              </div>
            </div>
          </div>
        </div>
      </div> -->


      <!-- Profile Feed -->
     <!--  <div class="row">
        <div class="col">

          <div class="feed-item">
            <div class="feed-media">
              <img src="img/demo/cherry.jpg" class="feed-image">
              <div class="feed-gradient-overlay"></div>
              <h6 class="feed-title">Running the distance: Maintaining long distance relationship</h6>
            </div>
            <div class="feed-item-details brand-base-text-color secondary-font">
              <i class="icon ion-share"></i> 34 shares <i class="icon ion-heart"></i> 2 Likes
            </div>
          </div>

          <div class="feed-item">
            <div class="feed-media">
              <img src="img/demo/guitar.jpg" class="feed-image">
              <div class="feed-gradient-overlay"></div>
              <h6 class="feed-title">Running the distance: Maintaining long distance relationship</h6>
            </div>
            <div class="feed-item-details brand-base-text-color secondary-font">
              <i class="icon ion-share"></i> 34 shares <i class="icon ion-heart"></i> 2 Likes
            </div>
          </div>

          <div class="feed-item">
            <div class="feed-media">
              <img src="img/demo/berry.jpg" class="feed-image">
              <div class="feed-gradient-overlay"></div>
              <h6 class="feed-title">Running the distance: Maintaining long distance relationship</h6>
            </div>
            <div class="feed-item-details brand-base-text-color secondary-font">
              <i class="icon ion-share"></i> 34 shares <i class="icon ion-heart"></i> 2 Likes
            </div>
          </div>

        </div>
        <div class="col">
          <div class="feed-item">
            <div class="feed-media">
              <img src="img/demo/horses.jpg" class="feed-image">
              <div class="feed-gradient-overlay"></div>
              <h6 class="feed-title">Running the distance: Maintaining long distance relationship</h6>
            </div>
            <div class="feed-item-details brand-base-text-color secondary-font">
              <i class="icon ion-share"></i> 34 shares <i class="icon ion-heart"></i> 2 Likes
            </div>
          </div>

          <div class="feed-item is-quote brand-contrast-color">
            <h3>Thou shall not PASS!!!.</h3>
            <div class="feed-stat">Gandalf</div>
          </div>


        </div>
      </div> -->
      <!-- End Profile Feed -->


  </ion-content>

</ion-view>
