<!-- Menu Screen - Refer to sidebar.scss -->
<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <!-- Left Menu Bar -->

  <ion-side-menu side="left">
    <ion-content class="menu-screen">

      <!-- Profile Section -->
      <div class="profile-box">
        <img src="img/demo/profile-image.jpg" alt="" class="profile-box-thumb">
        <div class="profile-box-details">
          <h4 class="profile-name brand-base-text-color">Musa Bashiru</h4>
          <h6 class="profile-location brand-base-text-color"><i class="ion-compass"></i> Sokoto</h6>
        </div>
        <i class="profile-settings-icons"></i>
      </div>
      <!-- End Profile Section -->

      <!-- Search Box -->
      <div class="list menu-screen-searchbox">
        <label class="item item-input">
          <input type="text" placeholder="Search" class="text-color-contrast">
          <i class="icon ion-search placeholder-icon"></i>
        </label>
      </div>
      <!-- End Search Box -->

      <!-- Group Header --><!-- 
      <h6 class="group-header">Menu 1</h6> -->
      <!-- End Group Header -->

      <!-- Ionic List -->
      <ion-list>
        <ion-item nav-clear menu-close href="#" class="item item-icon-right" ng-click="get_location()">
          Refresh
          <span class="item-note brand-base-text-color">
            Last checked 20 minutes ago
          </span>
          <i class="icon ion-android-sync"></i>
        </ion-item>
        <!-- <ion-item nav-clear menu-close href="#" class="item item-icon-left">
          <i class="icon ion-email"></i>
          Messages
          <span class="badge badge-assertive">25</span>
        </ion-item> -->
        <!-- <ion-item nav-clear menu-close href="#" class="item item-icon-left">
          <i class="icon ion-calendar"></i>
          Calendar
        </ion-item> -->
      </ion-list>
      <!-- End Ionic List -->

      <!-- Group Header -->
      <h6 class="group-header">Menu</h6>
      <!-- End Group Header -->

      <!-- Ionic List -->
      <ion-list ng-controller="NavigationCtrl">
        <ion-item nav-clear menu-close ng-click="go('app.emergency')" class="item item-icon-left brand-base-text-color">
          <i class="icon ion-alert-circled"></i>
          Emergency
        </ion-item>
        <ion-item nav-clear menu-close ng-click="go('app.feed')" class="item item-icon-left brand-base-text-color">
          <i class="icon ion-ios-sunny"></i>
         Feed 
        </ion-item>
        <ion-item nav-clear menu-close class="item item-icon-left brand-base-text-color">
          <i class="icon ion-map"></i>
          Routes       
        </ion-item>
         <!-- <ion-item nav-clear menu-close ng-click="go('app.records')" class="item item-icon-left brand-base-text-color">
          <i class="icon ion-ios-list-outline"></i>
          Monthly Records...
        </ion-item> -->
         <ion-item nav-clear menu-close ng-click="go('app.weather')" class="item item-icon-left brand-base-text-color">
          <i class="icon ion-ios-cloud-outline"></i>
         Weather
        </ion-item>
        <ion-item nav-clear menu-close ng-click="go('app.faq')" class="item item-icon-left brand-base-text-color">
          <i class="icon ion-help"></i>
          Help
        </ion-item>
        <ion-item nav-clear menu-close ng-click="go('app.settings')" class="item item-icon-left brand-base-text-color">
          <i class="icon ion-ios-cog"></i>
          Settings
        </ion-item>
        <!-- <ion-item nav-clear menu-close ng-click="go('app.about-us')" class="item item-icon-left brand-base-text-color">
          <i class="icon ion-person"></i>
          About
        </ion-item> -->
        </ion-list>
      <!-- End Ionic List -->

    </ion-content>

    <!-- Footer Bar and Buttons -->

    <ion-footer-bar menu-close class="auto-height bar-assertive menu-footer-bar" menu-toggle="left">
      <div class="row">
        <button ui-sref="app.about-us" class="col button button-dark"> &copy; 2016 Replug</button>
      </div>
    </ion-footer-bar>

    <!-- End Footer Bar and Buttons -->

  </ion-side-menu>

  <!-- End Left Menu Bar -->


  <!-- Right Menu Bar -->
  <!--
  <ion-side-menu side="right">
    <ion-content class="menu-screen">

      <!-- Group Header
      <h6 class="group-header">Data Representation</h6>
      <!-- End Group Header -->

      <!-- Data Representation Blocks
      <div class="padding data-block data-icon-right">
        <i class="ion-cloud icon-right"></i>
        <h6 class="data-block-title uppercase">Storage till 24th January 2015</h6>
        <h3 class="data-block-title bold">37% of 15gb</h3>
      </div>
      <!-- End Data Representation Blocks -->

      <!-- Group Header 
      <h6 class="group-header">Notifications</h6>
      <!-- End Group Header 

      <div class="list notifications">

          <a class="item item-avatar" href="#">
            <img src="img/demo/profile-image.jpg" class="notification-thumb">
            <h3 class="notification-title"><i class="ion-email"></i> Tracy Sent you a message</h3>
            <p class="notification-summary">“nom nom nom......nom!”</p>
          </a>

          <a class="item item-avatar" href="#">
            <img src="img/demo/profile-image-2.jpg" class="notification-thumb">
            <h3 class="notification-title"><i class="ion-email"></i> Tracy Sent you a message</h3>
            <p class="notification-summary">Feedback.mp4 | 4:44 mins</p>
          </a>

          <a class="item item-avatar" href="#">
            <img src="img/demo/profile-image-3.jpg" class="notification-thumb">
            <h3 class="notification-title"><i class="ion-email"></i> Tracy Sent you a message</h3>
            <p class="notification-summary">“I will find you....”</p>
          </a>

          <a class="item item-avatar" href="#">
            <img src="img/demo/profile-image-4.jpg" class="notification-thumb">
            <h3 class="notification-title"><i class="ion-email"></i> Tracy Sent you a message</h3>
            <p class="notification-summary">the-truth.mp3 | 2:33 mins</p>
          </a>

          <a class="item item-avatar" href="#">
            <img src="img/demo/profile-image-5.jpg" class="notification-thumb">
            <h3 class="notification-title"><i class="ion-email"></i> Tracy Sent you a message</h3>
            <p class="notification-summary">Back off, man. I'm a scientist.</p>
          </a>

      </div>



    </ion-content>

  <!--/ion-side-menu-->
  <!-- End Right Menu Bar -->


</ion-side-menus>
