<!-- Login Screen - refer to login.scss -->
<ion-view view-title="Testing" hide-nav-bar="true">
  <ion-content class="rubyonic-pane login-screen">

  	<!-- Logo Section - center aligned by default -->
  	<div class="logo">
  		<img src="../../img/logo.png" alt="">
	</div>
	<!-- End Logo Section -->

	<!-- A description section. Useful for a short pitch -->
  	<!-- <h4 class="description">A high-status theme pack for your next Ionic Project</h4> -->
  	<!-- End description -->

  	<!-- Login Form - note the modifier 'is-transparent' is for the form to be see through -->
  	<div class="list list-inset login-form is-transparent">
    <form name="Setup" novalidate>

	  <label class="item item-input">
	  	<i class="icon ion-person placeholder-icon"></i>
	    <input type="text" placeholder="Full Name" ng-model="user.name">
	  </label>

	  <label class="item item-input">
	  	<i class="icon ion-iphone placeholder-icon"></i>
	    <input type="text" placeholder="Mobile Number" ng-model="user.phone">
	  </label>
	  <br>

	  <div class="button-stack" ng-controller="NavigationCtrl">
	  	<button ng-click="submitSetup(user)" class="button button-transparent button-block" style="opacity: 0.7;">Continue</button>
	  	<button ng-click="go('app.main')" class="button button-stable button-block" style="background-color: #ffea00;">Skip</button>
	  </div>

    </form>
	  <div class="list">

  <label class="item item-input item-select" style="height:50px;">
    <div class="input-label">
      Select Your Language
    </div>
    <select>
      <option>English</option>
      <option selected>Hausa</option>
      <option>Igbo</option>
      <option>Yoruba</option>
      <option>Spanish</option>
      <option>Chinese</option>
    </select>
  </label>

	</div>
	<!-- End Login Form-->

	</ion-content>
</ion-view>
