/* Empty. Add your own CSS if you like */
.maps{
	background-repeat: no-repeat;
  	background-position: center;
  	background-attachment: fixed;
  	background-size: cover;
}
#map {
  width: 100%;
  height: 100%;
}